body {
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 22px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 15px;
}
h6 {
	font-size: 14px;
}
p,li {
	font-size: 16px;
}
img {
	width: 100%;
}
.lz-list {
	margin-top: 10px;
	margin-left: 10px;
}
.lz-content {
	margin-left: 10px;
	margin-right: 10px;
}
.lz-center {
	margin: 0 auto;
}